/* Tags */
body{
  overflow-y: scroll;
}

main{
  height:4000px; /* To see scrolling */
  background: linear-gradient(#d12121, #9e1919);
}

/* Classes */
.navbar{
  background-color: #e02323;
}

.dropdown-menu {
    width: auto !important;
    min-width: auto !important;
}

.btn-top{
  width:100px;
  height: 30px;
  border-radius: 0px;
  background-color:#ce2121;
  color:#f7f7f7;
}

.btn-top:hover{
  background-color:#9e1919;
  color:#e7e7e7;
}

.btn-products{
  width:100px;
  height: 30px;
  border-radius: 0px;
  background-color:#e7e7e7;
}

.btn-products:hover{
  background-color:#c7c7c7;
}

.nav-prod{
  background-color: #e7e7e7;
  border: 2px solid black;
}

.nav-prod a{
  color: black;
}

/* ID's */

#pageTitle{
    color:#e7e7e7;
}

#headerJumbo{
  border-radius: 0px;
  padding-bottom:
}

#imgCart{
  border: 2px solid transparent;
}

#imgCart:hover{
  border: 2px solid black;
}

#productsMenu {
  background: hsla(0,0%,100%,.93);
  position: absolute;
  right: 0;
  left: 0;
  min-height: 100%;
}
