/* Tags */
body{
  overflow-y: scroll;
  background-color:#e9e9e9;
}

main{
  height:4000px; /* To see scrolling */
  background-color:#f4f4f4;
}

/* Classes */
.navbar{
  background-color:#e02323;
}

.dropdown-menu{
    width: auto !important;
    min-width: auto !important;
}

.dropdown-menu a:hover{
  background-color:#e7e7e7;
}

.btn:focus{
  outline:none;
  box-shadow:none;
}

.btn-dropdown{
  width:100px;
  height: 30px;
  border-radius: 0px;
  background-color:#ce2121;
  color:#f7f7f7;
}

.btn-dropdown:hover{
  background-color:#9e1919;
  color:#e7e7e7;
}

.btn-dropdown:focus{
  background-color:#f7f7f7;
  color:#ce2121;
}

.btn-search:hover{
  background-color:#f7f7f7;
  color:#ce2121;
}

.nav-prod{
  background-color: #e7e7e7;
  border: 2px solid black;
}

.nav-prod a{
  color: black;
}

.navbar-toggler:focus{
  background-color:#f7f7f7;
  color:#ce2121;
}

.products-row{
  background-color: #f4f4f4;
  color:black;
}

.products-row:hover{
  background-color: #e5e5e5;
}

.products-description{
  font-size: 14px;
}

.img-thumbnail{
  max-width:75%;
}

.order-item{
  background-color: #e4e4e4;
}

.order-item:hover{
  background-color: #e9e9e9;
}

.order-item a{
  color:black;
}
.formStyle {
  width: 300px;
}
.formStyle input{
  width: 100%;
}

.top-text{
  color:#f7f7f7;
}

.registerLabel{
  display: inline-block;
  float: left;
  clear: left;
  width: 130px;
  text-align: left;
}

.carousel-control{
  padding-top:10%;
  width:5%;
}

.carousel1{
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.items-wrapper{
  padding-top: 30px;
  align-items: center;
  border-top: 1px solid;
}

.item-container{
  padding-left: 10px;
}

.text-container{
  color: black;
}

.image{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.item-container .item:hover{
  background: #e1e1e1;
  border: 1px solid #d0d0d0;
}

.carousel-caption{
  color: black;
}

.prod-link{
  text-decoration: none !important;
  color:black;
}

.prod-link:hover{
  text-decoration: none !important;
  color:black;
}

/* ID's */

#pageTitle{
    color:#e7e7e7;
}

#headerJumbo{
  border-radius: 0px;
  padding-bottom:
}

#imgCart{
  border: 2px solid transparent;
}

#imgCart:hover{
  border: 2px solid black;
}

#productsMenu{
  background: hsla(0,0%,100%,.93);
  position: absolute;
  right: 0;
  left: 0;
  min-height: 100%;
  z-index:5;
}


#prodDropdown a{
  min-width:300px;
}
